[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "~=3.2.5"
djangorestframework = "*"
pygments = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python manage.py runserver"
mm = "python manage.py makemigrations"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic"
shell = "python manage.py shell"
createsuperuser = "python manage.py createsuperuser"
